.css-13w8svu-MuiGrid2-root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.css-gprt06-MuiGrid2-root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.css-18r0dpd-MuiGrid2-root {
  display: flex;
  justify-content: center;
  align-items: center;
}
